@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}

.nav {
    background: #3474e6;
    color: #fff;
    height: 60px;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin-left: 10px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navigation a:hover {
    color: lightblue;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.nav .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav .logo {
    font-size: x-large;
    font-weight: bold;
}

.header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header img {
    width: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header {
    background-color: #0151cc;
    color: #fff;
    min-height: 400px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.box {
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    flex:1;
}

.box i {
    margin-right: 5px;
}

@media (max-width:768px){
    .header .container {
        flex-direction: column;
        padding-top:20px;
    }

    .boxes {
        display: block;
    }
}